{% extends 'base.html' %}
{% block title %}Edit{% endblock%}
{% block content %}
<body>
    <h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <div>
      <input id="title" name="title" value="{{ post.title }}" class="form-control">
    </div>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Post Content</label>
    <div>
      <textarea class="form-control"
                id="content"
                name="content">{{ post.content }}</textarea>
    </div>
  </div>

  <div>
    <div>
      <a href="/posts/{{ post.id }}">
        Cancel
      </a>
      <button type="submit" class="btn btn-dark">
        Edit
      </button>
    </div>
  </div>

  
</form>
{% endblock %}