{% extends 'base.html' %}
{% block title %}Edit User{% endblock%}
{% block content %}
    <h1>Edit the user</h1>
    <form method="post">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input class="form-control" type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>

        <div class="mb-3">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" id="last_name" name="last_name" value="{{ user.last_name }}"> 
        </div>

        <div class="mb-3 ">
            <label for="image_url">Image link</label>
            <input class="form-control" type="text" id="image_url" name="image_url" value="{{ user.image_url }}">
        </div>

        <div> 
            <button class="btn btn-dark" type="submit" formaction="/users">Cancel</button>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
    </form>
    {% endblock %}