{% extends 'base.html' %}
{% block title %} {{user.name}}{% endblock%}
{% block content %}
    <h1>User Details</h1>

    {% if user.image_url %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img
                class="img-fluid rounded-start" 
                src="{{ user.image_url }}"
                alt="{{ user.full_name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul>
                        <li>ID: {{user.id}}</li>
                        <li>First Name: {{user.first_name}}</li>
                        <li>Last Name: {{user.last_name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


    <form>
        <button class="btn btn-dark" formaction="/users" formmethod="get">Go back</button>
        <button class="btn btn-dark" formaction="/users/{{user.id}}/edit" formmethod="get">Edit</button>
        <button class="btn btn-dark" formaction="/users/{{user.id}}/delete" formmethod="post">Delete</button>
        <button class="btn btn-dark" type="submit" formaction="/users/{{user.id}}/posts/new">Add post</button>
    </form>
{% endblock %}